.footer {
  color: white;
  padding-bottom: 1%;
  padding-top: 1%;
  height: 5%;
  
}

.footer_copyright {
  margin-left: 0%;
  text-align: left;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin-top: 2.5%;
}

.footer_contact {
  text-align: left;
  margin-left: 0%;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin-right: 10%;
  display: block;
}

.logo-size {
  margin-left: 0%;
  font-weight: 300;
  font-size: 3.1em;
  
}
  
.margin-bottom-menu {
  margin-bottom: 5%;
}

