.footer {
  color: rgb(0, 0, 0);
  padding-bottom: 1%;
  padding-top: 0.75em;
  height: 5%;
  background-color: rgb(106, 221, 230);
}

.footer_copyright {
  margin-left: 0%;
  text-align: left;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin-top: 2.5%;
}

.footer_contact {
  text-align: left;
  margin-left: 0%;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin-right: 10%;
  display: block;
}

.logo-size {
  margin-left: 0%;
  font-weight: 300;
  font-size: 3.1em;
}
  
.margin-bottom-menu {
  margin-bottom: 5%;
}

.font-menu{
  font-size: 18px;
  padding: 15px;
  
}

.font-menu2{
  margin-right: 2%;
}